body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--bs-secondary);
  min-height: 100%;
}

main {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  /* color: #62C1BF; */
}

input {
  caret-color: black;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #00bc8c !important;
}

.betchoice {
  text-decoration: none;
  max-width: 500px;
}

.form-login {
  width: auto;
  max-width: 600px;
  margin-bottom: 500em;
}

.form-signup {
  width: auto;
  max-width: 600px;
}

.form-error {
  color: var(--bs-gray-800);
  background-color: var(--bs-warning);
  margin-top: 5px;
  border-radius: 8px;
}

.loading {
  width: 100%;
}

section i {
  color: var(--bs-light);
}

.logo-main {
  color: aqua;
}

.form-footer img {
  height: 1.5rem;
  transform: translate(0, -20%);
}

.bg-img {
  z-index: -99;
  position: absolute;
  max-height: 500px;
}

.img-child {
  width: 100%;
  max-height: 900px;
}

.credit {
  position: relative;
  bottom: 35px;
  margin: 5px;
  background-color: var(--bs-primary);
  width: 25%;
  border-radius: 10px;
}

.credit a {
  color: var(--bs-link-danger);
}

.fa-eye-slash,
i:hover {
  cursor: pointer;
  color: #333;
}

.darts-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  justify-items: center;
  margin-bottom: 100px;
}
